# ManusSDK
# ManusSDK.h
# ManusSDKTypes.h
# ManusSDKTypeInitializers.h
# ClientLogging.hpp

# Visual Studio cache
.vs/
*.ipch
*.pch

# Build outputs
Debug/
Release/
x64/
x86/
build/
out/
bin/
obj/

# Large SDK binary libraries
SDKClient_Linux/ManusSDK/lib/*.so

# Manus SDK binary libraries
SDKMinimalClient_Linux/ManusSDK/lib/*.so
SDKClient_Linux/ManusSDK/lib/*.so

*.so